In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head(10)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,6,Life: Life Of Luxury: Elton John’s 6 Favorite ...,NaN,Ever wonder how Britain’s most iconic pop pian...,1
7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
8,8,Excerpts From a Draft Script for Donald Trump’...,NaN,Donald J. Trump is scheduled to make a highly ...,0
9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0

In [4]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
id        20800 non-null int64
title     20242 non-null object
author    18843 non-null object
text      20761 non-null object
label     20800 non-null int64
dtypes: int64(2), object(3)
memory usage: 568.8+ KB

In [6]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [7]:
df=df.fillna('')

In [8]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [9]:
df.columns

Index(['id', 'title', 'author', 'text', 'label'], dtype='object')

In [10]:
df=df.drop(['id','title','author'], axis=1)

In [11]:
df.head(10)

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1
5  In these trying times, Jackie Mason is the Voi...      0
6  Ever wonder how Britain’s most iconic pop pian...      1
7  PARIS  —   France chose an idealistic, traditi...      0
8  Donald J. Trump is scheduled to make a highly ...      0
9  A week before Michael T. Flynn resigned as nat...      0

In [12]:
from nltk.corpus import stopwords #to convert the text into main vector we use the stopwords from nltk 

#example "hi this is me" from here this is will get remove as these are stopwords

In [13]:
from nltk.stem.porter import PorterStemmer #to make the vector or string into string format

In [14]:
import re #used to remove regular expression and the stopword.

In [15]:
pstem = PorterStemmer() #obj created

In [16]:
pstem

In [17]:
pstem.stem("Hi thIs is Avra * % %@@@") #to remove regualr ecpression and stop words we use re

'hi this is avra * % %@@@'

In [18]:
def stemming(content):
    
    con=re.sub('[^a-zA-Z]', ' '#also remove empty string, content) #remove regulr expression from one part to other
    con=con.lower()
    con=con.split()
    con=[pstem.stem(word) for word in con if not word in stopwords.words('english')] #remove stopwords we created lamda function
    con=' '.join(con) #join the empty str withn join mthod
    return con

In [19]:
stemming('Hi this is Avra')

'hi avra'

In [20]:
#import nltk
#nltk.download('stopwords') //if stopwords give errors

In [21]:
#df['text']= df['text'].apply(stemming) #preprocesses the whole data from dataset

In [22]:
x=df['text'] #dependent feature

In [23]:
y=df['label'] #independent or target val

In [24]:
y.shape

(20800,)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train , x_test , y_train, y_test = train_test_split(x, y, test_size=0.20)
#divide data in four parts 2 for each

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer() #to make them into one vector/matrix the train and test data

In [28]:
x_train=vect.fit_transform(x_train)
x_test=vect.transform(x_test)
#convert the train test in vector

In [29]:
x_test.shape

(4160, 160461)

In [30]:
from sklearn.tree import DecisionTreeClassifier # to filter data as this is classifier task not continuos one so use decisin tree classifier
model=DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [ ]:
prediction = model.prediction(x_test)

In [31]:
model.score(x_test, y_test)

0.8865384615384615

In [32]:
import pickle #to sav the file in pickle version of vector 
pickle.dump(vect, open('vector.pkl', 'wb')) #any file name we can give
pickle.dump(model, open('model.pkl', 'wb')) #dump model and vect file
#stores the files in directory
vector_form=pickle.load(open('vector.pkl', 'rb'))
load_model=pickle.load(open('model.pkl', 'rb'))

In [33]:
def fake_news(news):
    news=stemming(news) #convert text into stemming
    input_data=[news]
    vector_form1=vector_form.transform(input_data) #convert into vector
    prediction = load_model.predict(vector_form1) #predict the vector formusing load model
    return prediction
news=fake_news("""In these trying times, Jackie Mason is the Voice of Reason. [In this week’s exclusive clip for Breitbart News, Jackie discusses the looming threat of North Korea, and explains how President Donald Trump could win the support of the Hollywood left if the U. S. needs to strike first.  “If he decides to bomb them, the whole country will be behind him, because everybody will realize he had no choice and that was the only thing to do,” Jackie says. “Except the Hollywood left. They’ll get nauseous. ” “[Trump] could win the left over, they’ll fall in love with him in a minute. If he bombed them for a better reason,” Jackie explains. “Like if they have no transgender toilets. ” Jackie also says it’s no surprise that Hollywood celebrities didn’t support Trump’s strike on a Syrian airfield this month. “They were infuriated,” he says. “Because it might only save lives. That doesn’t mean anything to them. If it only saved the environment, or climate change! They’d be the happiest people in the world. ” Still, Jackie says he’s got nothing against Hollywood celebs. They’ve got a tough life in this country. Watch Jackie’s latest clip above.   Follow Daniel Nussbaum on Twitter: @dznussbaum""")
if news==[0]:
    print('real')
else:
    print('Fake')

real